*{
    padding: 0;
    margin: 0;
    /* overflow-y: hidden; */
}

@media screen and (max-width : 760px) {
    #app-main-div{
        width: 80%;
    }
}

@media screen and (max-width : 500px) {
    #searchbar-container{
        height: 2.8rem;
    }

    #search-btn{
        font-size: 1rem;
    }
}

@media screen and (max-width : 500px) {
    #searchbar-container{
        height: 2.5rem;
    }

    #search-btn{
        font-size: 0.8rem;
    }

    #search{
        font-size: 0.9rem;
    }
}

@media screen and (max-width :320px){
    #search{
        font-size: 0.8rem;
        padding:10px
    }

    #search-btn{
        font-size: 0.6rem;
        padding: 5px;
    }
}

@media only screen and (max-width: 480px) {
    .Toastify__toast-container{
      width: 200vw;
    }
}